@page
@model PrivacyModel
@{
    ViewData["Title"] = "Indian Movies History";
}
<h1>@ViewData["Title"]</h1>

<p>
    <img src="~/images.jpg" />

    <pre> 
The cinema of India consists of films produced in the nation of India.[8] Cinema is immensely popular in India.</pre>Every year more than 1800 films get produced in various languages
    in India.[9][10][11] Mumbai, Chennai, Kolkata, Hyderabad, Thiruvananthapuram-Kochi, Bangalore,
    Bhubaneshwar-Cuttack and Guwahati are the major centres of film production in India.[12] As of 2013,
    India ranked first in terms of annual film output, followed by Nigeria,[10][13] Hollywood and China.[14] In 2012, India
    produced 1,602 feature films.[10] The Indian film industry reached overall revenues of $1.86 billion (₹93 billion) in 2011.
    In 2015, India had a total
    box office gross of US$2.1 billion,[6][15] the third largest in the world. In 2011, Indian cinema sold over 3.5 billion tickets worldwide, 900,000 more than Hollywood.
    The overall revenue of Indian cinema reached US$1.3 billion in 2000.[16] The industry is segmented by
    language. The Hindi language film industry is known as Bollywood, the largest sector, representing 43%
    of box office revenue. The combined revenue of the Tamil and Telugu film industries represent 36%.[17]
    The South Indian film industry encompasses five film cultures: Tamil, Telugu, Malayalam, Kannada and Tulu.
    Another prominent film culture is Bengali cinema, which was largely associated with the parallel cinema
    movement, in contrast to the masala films more prominent in Bollywood and Southern films at the time.

    Indian cinema is a global enterprise.[18] Its films have a following throughout Southern Asia and across
    Europe, North America, Asia, the Greater Middle East, Eastern Africa, China and elsewhere, reaching in
    over 90 countries.[19] Biopics including Dangal became transnational blockbusters grossing over $300
    million worldwide.[20] Millions of Indians overseas watch Indian films, accounting for some 12% of
    revenues.[21] Music rights alone account for 4–5% of net revenues.[16]

    Global enterprises such as Universal Pictures, 20th Century Fox, Sony Pictures,
    Walt Disney Pictures[22][23] and Warner Bros. invested in the industry along with
    Indian enterprises such as AVM Productions, Prasad's Group, Sun Pictures, Geetha Arts,
    Zee, UTV, Suresh Productions, Eros International, Ayngaran International, Pyramid Saimira,
    Aascar Films and Adlabs. By 2003 as many as 30 film production companies had been listed in
    the National Stock Exchange of India (NSE).[24]
</p>
